# Created by https://www.gitignore.io/api/nim,visualstudiocode
# Edit at https://www.gitignore.io/?templates=nim,visualstudiocode

### Nim ###
nimcache/
*.swp

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/nim,visualstudiocode